@charset "utf-8";
body {
    background: #340201 url(/bits/bg2.jpg) no-repeat center top;
    color: rgb(255, 255, 255);
    font-family: Play, sans-serif;
    line-height: 1.2em;
    letter-spacing: 0.002em;
    font-size: 16px;
}
a, a:link, a:visited {
    color: rgb(255, 178, 178);
}
a:hover, a:active {
    color: rgb(255, 128, 128);
}
.navbar-right {
    margin-right: -12px;
}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
.navbar-nav > li > a {
    height: 84px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:link, .navbar-inverse .navbar-nav > li > a:visited {
    color: rgb(255, 178, 178);
    font-weight: 700;
    text-align: right;
    height: auto;
}
.navbar-toggle {
    margin-top: 23px;
}
.navbar-nav > li > a, .navbar-nav > li > a:link, .navbar-nav > li > a:visited {
    font-family: Play, sans-serif;
    transition: all 0.15s linear 0s;
    -webkit-transition: all 0.15s linear 0s;
    padding: 30px 10px 30px 10px;
}
.navbar-nav > li > a > div {
    display: none;
}
@media screen and (max-width: 1200px) {
    .navbar-nav > li > a, .navbar-nav > li > a:link, .navbar-nav > li > a:visited {
        padding: 0;
    }
    .navbar-nav > li > a > div {
        display: inline;
        margin-left: 8px;
    }
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:active {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
    -moz-box-shadow: inset 0px 0px 40px 0px rgba(50, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 0px 40px 0px rgba(255, 0, 0.7);
    -o-box-shadow: inset 0px 0px 40px 0px rgba(50, 0, 0, 0.7);
    box-shadow: inset 0px 0px 40px 0px rgba(50, 0, 0, 0.7);
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-brand:hover, .navbar-brand:active {
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
}
.row {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.affiliate img {
    display: inline;
    width: 164px;
    vertical-align: middle;
    padding: 2px 8px 2px 8px;
}
#header {
    padding-bottom: 20px;
}
.navitem {
    font-size: 24px;
}
.video {
    padding: 8px 16px 16px 8px;
}
#footer {
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: rgb(8, 8, 8);
    line-height: 1.2em;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer a, #footer a:link, #footer a:visited {
    font-weight: 800;
    color: rgb(255, 96, 96);
}
.carousel-control {
    width: 6%;
}
#pagecontent {
    padding: 8px 0px 0px 0px;
    background-color: rgba(16, 16, 16, .7);
}
.navbar {
    margin-bottom: unset;
}
@media screen and (max-width: 800px) {
    #footer {
        font-size: 14px;
    }
}
@media screen and (max-width: 560px) {
    #footer {
        font-size: 12px;
    }
}
@media screen and (max-width: 432px) {
    body {
        font-size: 14px;
    }
    #footer {
        font-size: 10px;
    }
}
