@charset "utf-8";
body {
    background: #340201 url(/bits/bg2.jpg) no-repeat center top;
    color: rgb(255, 255, 255);
    font-family: Play, sans-serif;
    line-height: 1.4em;
    letter-spacing: 0.05em;
}
a {
    color: rgb(255, 190, 190);
}
a:hover {
    color: rgb(255, 128, 128);
}
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fcc;
}
.navbar-toggle {
    margin-top: 23px;
}
.navbar-nav > li > a {
    font-family: Play, sans-serif;
    text-transform: uppercase;
    transition: all 0.15s linear 0s;
    -webkit-transition: all 0.15s linear 0s;
    padding-bottom: 30px;
    padding-top: 30px;
}
@media screen and (max-width: 1200px) {
    .navbar-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
.navbar-nav > li > a:hover {
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
    -moz-box-shadow: inset 0px 0px 40px 0px rgba(50, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 40px 0px rgba(255, 0, 0.5);
    -o-box-shadow: inset 0px 0px 40px 0px rgba(50, 0, 0, 0.5);
    box-shadow: inset 0px 0px 40px 0px rgba(50, 0, 0, 0.5);
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-brand:hover {
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
}
.row {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
#gamejolt {
    margin: 29px auto !important;
}
#cube2 {
    margin: 1px auto !important;
}
#header {
    padding-bottom: 20px;
}
.footer {
    background-color: #600;
    font-size: 14px;
    font-family: Orbitron, sans-serif;
    text-align: center;
}
.social-icons {
    font-size: 30px;
    text-align: right;
}
.video {
    padding: 8px 16px 16px 8px;
}
#copyright {
    font-size: 12px;
    text-align: center;
    padding: 8px;
    background-color: rgb(8, 8, 8);
    line-height: 1.3em;
}
#copyright p {
    margin: 0;
    padding: 0;
}
#copyright a {
    font-weight: 800;
    color: rgb(255, 96, 96);
}
.carousel-control {
    width: 6%;
}
#pagecontent {
    padding: 16px 0px 0px 0px;
    background-color: rgba(16, 16, 16, .7);
}
.navbar {
    margin-bottom: unset;
}
