@charset "utf-8";
#issues-table, #issues-view {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(255, 64, 64);
}
#issues-view {
    table-layout: fixed;
}
#issues-table time {
    white-space: nowrap;
}
#issues-t-row {
    height: 40px;
}
#issues-t-info img {
    background-color: rgb(255, 255, 255);
}
#issues-t-title {
    color: rgb(255, 255, 255);
    font-family: Play, sans-serif;
    font-weight: 700;
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
}
#issues-t-number {
    font-weight: 700;
}
.issues-bg1 {
    background-color: rgba(0, 0, 0, 0.125);
}
.issues-bg2 {
    background-color: rgba(0, 0, 0, 0.625);
}
.issues-center {
    text-align: center;
}
.issues-left {
    text-align: left;
}
.issues-right {
    text-align: right;
}
.issues-label {
    margin: 1px;
    padding: 2px 4px 2px 4px;
    font-size: 10px;
    white-space: nowrap;
    border-radius: 4px; 
    border: 1px solid rgb(255, 255, 255);
}
.issues-time {
    font-size: 14px;
}

