@charset "utf-8";
.issues-bg1, #issues-h-row, #issues-t-comments-row {
    background-color: rgba(0, 0, 0, 0.25);
}
.issues-bg2, #issues-h-comments-info, #issues-t-reply-row, #issues-l-row, #issues-h-load, #issues-t-load, #issues-h-more, #issues-h-comments-xtra {
    background-color: rgba(0, 0, 0, 0.75);
}
.issues-center {
    text-align: center;
}
.issues-left {
    text-align: left;
}
.issues-right {
    text-align: right;
}
.issues-label {
    margin: 0;
    padding: 0px 4px 2px 4px;
    font-size: 10px;
    white-space: nowrap;
    border-radius: 4px; 
    border: 1px solid rgb(255, 255, 255);
    vertical-align: top;
}
.issues-time {
    font-size: 14px;
}
#issues-front, #issues-table, #issues-view, #issues-more {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(255, 64, 64);
    vertical-align: middle;
    margin-bottom: 16px;
}
#issues-view {
    table-layout: fixed;
}
#issues-table time {
    white-space: nowrap;
}
#issues-t-row {
    height: 40px;
}
#issues-t-info img, #issues-t-comments-info img {
    background-color: rgb(255, 255, 255);
}
#issues-t-title, #issues-t-reply-row, #issues-h-load, #issues-t-load {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 5px rgb(255, 0, 0);
}
#issues-h-comments-avatar, #issues-h-comments-xtra-reactions {
    float: right;
    clear: both;
}
#issues-h-comments-xtra-labels span {
    font-size: 14px;
}
#issues-h-comments-avatar img, #issues-login img {
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 128, 128);
    -webkit-filter: drop-shadow( -1px -1px 5px rgb(255, 0, 0));
    filter: drop-shadow(-1px -1px 5px rgb(255, 0, 0));
}
#issues-h-comments-span p, #issues-h-comments-xtra-reactions p {
    display: inline;
}
#issues-reload, #issues-getmore {
    cursor: pointer;
}
#issues-t-numurl, #issues-t-url {
    color: rgb(255, 255, 255);
}