<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="canonical" href="{{ page.redir_to }}"/>
        <meta http-equiv="refresh" content="0;url={{ page.redir_to }}" />
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/default.css" />
    </head>
    <body>
        {% include nav.html %}
        <div id="container">
            <div class="wholepage" id="main">
                <h1>Redirecting: {{ page.title }}</h1>
                <p><a href="{{ page.redir_to }}">Click here if you are not redirected.<a></p>
                <script>location="{{ page.redir_to }}"</script>
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
        {% include last.html %}
    </body>
</html>
