<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}</title>
        {% assign cssclass = 'default' %}
        {% include head.html %}
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            <div class="main pagecontainer">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
