<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: Redirecting to {{ page.title | default: page.path }}</title>
        <link rel="canonical" href="{{ content }}"/>
        <meta http-equiv="refresh" content="0;url={{ content }}" />
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/default.css?v={{ site.github.build_revision }}" />
    </head>
    <body>
        {% include nav.html %}
        <div id="pagecontent" class="container">
            <div id="pagecontainer" class="main">
                <h1>Redirecting to:</h1>
                <h2>{{ page.title }}</h2>
                <p><a href="{{ content }}">Click here if you are not redirected.<a></p>
                <script>location="{{ content }}"</script>
            </div>
            {% include footer.html %}
        </div>
        {% include last.html %}
    </body>
</html>
