<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}</title>
        {% assign cssclass = 'home' %}
        {% include head.html %}
        <script type="text/javascript" src="/bits/js/home.js"></script>
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            {{ content }}
            {% include footer.html %}
        </div>
    </body>
</html>
