<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}</title>
        {% assign cssclass = 'default' %}
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/issues.css" />
        <script type="text/javascript" src="/bits/js/showdown.min.js"></script>
        <script type="text/javascript">
            var sdconv = new showdown.Converter({
                omitExtraWLInCodeBlocks: true,
                noHeaderId: true,
                strikethrough: true,
                tables: true,
                ghCodeBlocks: true,
                tasklists: true,
                simpleLineBreaks: true,
                ghMentions: true,
                openLinksInNewWindow: true,
                emoji: true
            });
            sdconv.setFlavor('github');
            var pagedata = {
                title: '{{ page.title | default: page.path }}',
                path: '{{ page.path }}',
                permalink: '{{ page.permalink }}',
                issues: {
                    repository: '{{ page.issues.repository | default: "base" }}',
                    sort: {
                        by: '{{ page.issues.sort.by | default: "updated" }}',
                        direction: '{{ page.issues.sort.direction | default: "desc" }}',
                        link: '{{ page.issues.sort.link | default: "updated-desc" }}',
                        state: '{{ page.issues.sort.state | default: "open" }}'
                    }
                },
                {% if site.data.local.json %}
                script: '/{{ page.issues.repository | default: "base" }}.json',
                comments: '/comments.json',
                uselocal: true
                {% else %}
                script: 'https://api.github.com/repos/red-eclipse/{{ page.issues.repository | default: "base" }}/issues?state={{ page.issues.sort.state }}&sort={{ page.issues.sort.by }}&direction={{ page.issues.sort.direction }}&callback=issues',
                comments: null,
                uselocal: false
                {% endif %}
            }
        </script>
        <script type="text/javascript" src="/bits/js/issues.js"></script>
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            <div class="sidebar pagesidebar">
                <a href="https://github.com/red-eclipse/{{ page.issues.repository }}/issues?q=is%3Aissue+is%3A{{ page.issues.sort.state }}+sort%3A{{ page.issues.sort.link }}" target="_blank">Go to GitHub</a>
                | <a href="#">Go to Index</a>
                | <a href="https://github.com/red-eclipse/{{ page.issues.repository }}/issues/new" target="_blank">Create New Topic</a>
            </div>
            <div id="issues-container" class="main pagecontainer">
                <h1>{{ page.title | default: page.path }}</h1>
                {{ content }}
                <table id="issues-table"><thead id="issues-header"></thead><tbody id="issues-body"></tbody></table>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
