<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}</title>
        {% assign cssclass = 'default' %}
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/issues.css" />
        <script type="text/javascript">
            var sort_by = '{{ page.issues.sort.by }}';
            var sort_dir = '{{ page.issues.sort.direction }}';
            var sort_state = '{{ page.issues.sort.state }}';
            Number.prototype.zeropad= function(len) {
                var s = String(this), c = '0';
                len = len || 2;
                while(s.length < len) s = c + s;
                return s;
            }
            function issue_date(data) {
                var d = new Date(data);
                return d.getFullYear() + '-' + d.getMonth().zeropad() + '-' + d.getDate().zeropad() + ' ' + d.getHours() + ':' + d.getMinutes().zeropad() + ':' + d.getSeconds().zeropad();
            }
            function issue_create(item, iter) {
                var row = document.createElement('tr');
                row.class = 'issues-' + (iter%2 ? 'bg1' : 'bg2');
                row.innerHTML += '<th id="issues-t-number" class="issues-center"><a href="' + item.number + '">#' + item.number + '</a></th>';
                var title = document.createElement('th');
                title.id = 'issues-t-title';
                title.innerHTML += '<a id="issues-t-url" href="' + item.html_url + '">' + item.title + '</a>';
                for (var j = 0; j < item.labels.length; j++) {
                    var label = item.labels[j];
                    title.innerHTML += ' <span class="issues-label" style="border-color: #' + label.color + ';">' + label.name + '</span>';
                }
                row.appendChild(title);
                row.innerHTML += '<th id="issues-t-comments" class="issues-center">' + item.comments + '</th>';
                row.innerHTML += '<th id="issues-t-number" class="issues-center">' + item.user.login + '</th>';
                row.innerHTML += '<th id="issues-t-number" class="issues-center">' + issue_date(item.created_at) + '</th>';
                row.innerHTML += '<th id="issues-t-number" class="issues-center">' + issue_date(item.updated_at) + '</th>';
                return row;
            }
            function issues(response) {
                var meta = response.meta;
                var data = response.data;
                console.log(meta);
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var row = issue_create(data[i], i);
                    document.getElementById('issues-body').appendChild(row);
                }
            }
            var script = document.createElement('script');
            {% if site.data.local.json %}
            script.src = '/{{ page.issues.repository }}.json';
            {% else %}
            script.src = 'https://api.github.com/repos/red-eclipse/{{ page.issues.repository }}/issues?state=' + sort_state + '&sort=' + sort_by + '&direction=' + sort_dir + '&callback=issues';
            {% endif %}
            document.getElementsByTagName('head')[0].appendChild(script);
        </script>
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            <div class="main pagecontainer">
                <h1>{{ page.title | default: page.path }}</h1>
                {{ content }}
                <table id="issues">
                    <thead id="issues-header">
                        <tr>
                            <th id="issues-t-number" class="issues-center">ID</th>
                            <th id="issues-t-title">Title</th>
                            <th id="issues-t-comments" class="issues-center"><span class="far fa-comment fa-fw" aria-hidden="true"></span></th>
                            <th id="issues-t-author" class="issues-center">Author</th>
                            <th id="issues-t-created" class="issues-center">Created</th>
                            <th id="issues-t-updated" class="issues-center">Updated</th>
                        </tr>
                    </thead>
                    <tbody id="issues-body"></tbody>
                </table>
                <p><b>This area is under construction. You can find the full list <a href="https://github.com/red-eclipse/{{ page.issues.repository }}/issues?q=is%3Aissue+is%3A{{ page.issues.sort.state }}+sort%3A{{ page.issues.sort.link }}">here</a>.</b></p>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
