<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: {{ page.title | default: page.path }}</title>
        {% assign cssclass = 'default' %}
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/issues.css" />
        <script type="text/javascript" src="/bits/js/showdown.min.js"></script>
        <script type="text/javascript" src="/bits/js/oauth.min.js"></script>
        <script type="text/javascript" src="/bits/js/issues.js"></script>
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            <div id="issues-container" class="main pagecontainer">
                <h1>{{ page.title | default: page.path }}</h1>
                {{ content }}
                <table id="issues-front" class="issues-left">
                    <thead id="issues-link" class="issues-left">
                        <tr id="issues-l-row" class="issues-left">
                            <th id="issues-l-data" class="issues-left">
                                <a id="issues-index" class="issues-left" href="#">Index</a>
                                | <a id="issues-reload" class="issues-left" onclick="location.reload();">Refresh</a>
                                | <a id="issues-create" class="issues-left" href="{{ site.locs.ref }}/{{ site.organisation }}/{{ page.issues.repository }}/issues/new" target="_blank">Create New {{ page.issues.noun }}</a>
                                | <span id="issues-rate"><span class="fas fa-cog fa-spin"></span> Loading...</span>
                            </th>
                            <th id="issues-l-login" class="issues-right">
                                <a id="issues-login" class="issues-left" href="#" onclick="user_oauth();">Login with GitHub</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="issues-information" class="issues-left">
                        <tr id="issues-i-row" class="issues-left">
                            <td id="issues-i-data" class="issues-left">
                                <b>NOTE:</b> This area is still under construction. If you have any problems, please <a href="{{ site.locs.ref }}/{{ site.repository }}/issues/new" target="_blank">notify us</a>.
                            </td>
                            <td id="issues-i-right" class="issues-right"></td>
                        </tr>
                    </tbody>
                    <tfoot id="issues-extra" class="issues-left"></tbody>
                </table>
                <table id="issues-table" class="issues-left">
                    <thead id="issues-header" class="issues-left">
                        <tr id="issues-h-load" class="issues-left">
                            <th id="issues-h-loading" class="issues-left"><span class="fas fa-cog fa-spin"></span> Loading...</th>
                        </tr>
                    </thead>
                    <tbody id="issues-body" class="issues-left"></tbody>
                    <tfoot id="issues-post" class="issues-left"></tbody>
                </table>
                <table id="issues-more" class="issues-left">
                    <thead id="issues-morehead" class="issues-left">
                        <tr id="issues-h-more" class="issues-left" style="display: none">
                            <th id="issues-h-loading" class="issues-center"><a id="issues-getmore" class="issues-middle" onclick="issues_more();">Load More</a></th>
                        </tr>
                    </thead>
                    <tbody id="issues-morebody" class="issues-left"></tbody>
                    <tfoot id="issues-morextra" class="issues-left"></tbody>
                </table>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
