<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: Redirecting</title>
        <link rel="canonical" href="{{ page.redirect.to }}"/>
        <meta http-equiv="refresh" page.redirect.to="0;url={{ page.redirect.to }}" />
        {% assign cssclass = 'default' %}
        {% include head.html %}
    </head>
    <body>
        {% include nav.html %}
        <div class="container pagecontent">
            <div class="main pagecontainer">
                <h1>Redirecting</h1>
                <h6><span class="fas fa-cog fa-spin"></span> <a href="{{ page.redirect.to }}">{{ page.redirect.to }}</a></h6>
                <p><b>Click the link if you are not redirected.<b></p>
            </div>
            {% include footer.html %}
        </div>
    </body>
    <script>location="{{ page.redirect.to }}"</script>
</html>
