<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title | default: site.github.repository_name }}: Redirecting</title>
        <link rel="canonical" href="{{ page.redirect.to }}"/>
        <meta http-equiv="refresh" page.redirect.to="0;url={{ page.redirect.to }}" />
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="/bits/css/default.css?v={{ site.github.build_revision }}" />
    </head>
    <body>
        {% include nav.html %}
        <div id="pagecontent" class="container">
            <div id="pagecontainer" class="main">
                <h1>Redirecting</h1>
                <h4><a href="{{ page.redirect.to }}">{{ page.redirect.to }}</a></h4>
                <p><b>Click the link if you are not redirected.<b></p>
                <script>location="{{ page.redirect.to }}"</script>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
